



<form class="container row justify-content-md-center">
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input id="emailInput" type="email" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="passInput" class="form-label">Password</label>
        <input id="passInput" type="password" class="form-control" />
    </div>
    
</form>