



<form class="container row justify-content-md-center" action="POST">
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input name="email" id="emailInput" type="email" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="passInput" class="form-label">Password</label>
        <input name="pass" id="passInput" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary text-center" asp-action="LoginSubmit" asp-controller="Home">Login</button>
    
</form>